<!DOCTYPE html>
<html lang="en">
<head th:replace="components/master :: head"></head>
<body>

<div class="site-wrap">


  <div th:replace="components/master :: navbar"></div>

  <!--<div th:replace="components/master :: header"></div>-->

  <div th:replace="components/components :: categoriesList"></div>



  <!--<div th:replace="components/components :: productsList"></div>-->

  <footer th:replace="components/master :: footer"></footer>
</div>

<div th:replace="components/master :: scripts"></div>

</body>
</html>
