<!DOCTYPE html>
<html lang="en">
<head th:replace="components/master :: head"></head>
<body>

<div class="site-wrap">


  <div th:replace="components/master :: navbar"></div>


  <div class="site-section">
    <div class="container">
      <div class="row mb-5">
        <form class="col-md-12" method="post">
          <div class="site-blocks-table">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th class="product-thumbnail">Image</th>
                <th class="product-name">Product</th>
                <th class="product-price">Price</th>
                <th class="product-quantity">Quantity</th>
                <th class="product-total">Total</th>
                <th class="product-remove">Remove</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="item : ${cartItems}" th:id="${item.getProduct().id}">
                <td class="product-thumbnail">
                  <img th:src="${item.getProduct().image}" alt="Image" class="img-fluid">
                </td>
                <td class="product-name">
                  <h2 class="h5 text-black" th:text="${item.getProduct().name}"></h2>
                </td>
                <td th:text="${item.getProduct().price+ ' DZD'}">$49.00</td>
                <td>
                  <div class="input-group mb-3" style="max-width: 120px;">
                    <div class="input-group-prepend">
                      <button  th:attr="data-id=${item.getProduct().getId()}" class="decrease btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
                    </div>
                    <input  th:value="${item.getQuantity()}" type="text" class="form-control text-center" value="1" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                    <div class="input-group-append">
                      <button th:attr="data-id=${item.getProduct().getId()}" class="increase btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
                    </div>
                  </div>

                </td>
                <td th:text="${(item.getProduct().price * item.getQuantity())+ ' DZD'}">$49.00</td>
                <td><a href="#" th:attr="data-id=${item.getProduct().getId()}" class="remove btn btn-primary height-auto btn-sm">X</a></td>
              </tr>

              </tbody>
            </table>
          </div>
        </form>
      </div>

      <div class="row">
        <div class="col-md-6">
          <!--<div class="row mb-5">-->
            <!--<div class="col-md-6 mb-3 mb-md-0">-->
              <!--<button class="btn btn-primary btn-sm btn-block">Update Cart</button>-->
            <!--</div>-->
            <!--<div class="col-md-6">-->
              <!--<button class="btn btn-outline-primary btn-sm btn-block">Continue Shopping</button>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="row">-->
            <!--<div class="col-md-12">-->
              <!--<label class="text-black h4" for="coupon">Coupon</label>-->
              <!--<p>Enter your coupon code if you have one.</p>-->
            <!--</div>-->
            <!--<div class="col-md-8 mb-3 mb-md-0">-->
              <!--<input type="text" class="form-control py-3" id="coupon" placeholder="Coupon Code">-->
            <!--</div>-->
            <!--<div class="col-md-4">-->
              <!--<button class="btn btn-primary btn-sm px-4">Apply Coupon</button>-->
            <!--</div>-->
          <!--</div>-->
        </div>
        <div class="col-md-6 pl-5">
          <div class="row justify-content-end">
            <div class="col-md-7">
              <div class="row">
                <div class="col-md-12 text-right border-bottom mb-5">
                  <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                  <span class="text-black">Subtotal</span>
                </div>
                <div class="col-md-6 text-right">
                  <strong class="text-black">$230.00</strong>
                </div>
              </div>
              <div class="row mb-5">
                <div class="col-md-6">
                  <span class="text-black">Total</span>
                </div>
                <div class="col-md-6 text-right">
                  <strong class="text-black">$230.00</strong>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <form action="/cart/send" method="post">
                    <button class="btn btn-primary btn-lg btn-block">Proceed To Checkout</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <footer th:replace="components/master :: footer"></footer>
</div>

<div th:replace="components/master :: scripts"></div>

<script>

  // increase product quantity
  $('.increase').click(function () {

      var id = $(this).data('id');
      sendRequest(id, 'POST');
  });

  // decrease product quantity
  $('.decrease').click(function () {

      var id = $(this).data('id');
      sendRequest(id, 'PUT');
  });
  // remove product from shopping cart
  $('.remove').click(function () {

      var id = $(this).data('id');
      sendRequest(id, 'DELETE');

      // remove product row from table
      $('#' + id).remove();
  });

  /**
   * send request to backend
   * @param id
   * @param method
   */
  function sendRequest(id, method) {
      $.ajax('/cart', {
          type: method,  // http method
          data: { id:  id},  // data to submit
          success: function (data, status, xhr) {
              console.log('success');
          },
          error: function (jqXhr, textStatus, errorMessage) {
              console.log(errorMessage);
          }
      });
  }
</script>

</body>
</html>
